
.planet-container {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
 
  position: relative;
    left: 25%;
    bottom: 450px;
}

.planet-container img {
  object-fit: contain;
  max-width: 5.5rem;
  /* border: 2px solid #FFFF00; */
}

.navbar{
  height: 90px;
  top: 0;
  display: flex;
  width: 100%;
  background: rgb(255, 255, 255);
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  height: 90px;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 30px;
  transition: all 600ms ease 0s;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
  text-decoration: none;
  /* border: 2px solid #ff0000; */
  text-decoration: none;
  background-color: white;

  }
.navbar-title{

  text-decoration: none;
    width:'100%';
    color: rgb(13, 13, 13);
    margin: 0 auto;
    margin-top: -2em;
    margin-right: 700px;
    position: relative;
   
    
    
 
}

.home-background {
  background-image: url("https://i.imgflip.com/48sq6r.png");
  padding-top: 80px;

  

}

.sun {
  display: flex;
  position: relative;
 right: 20%;
 position: relative;
 left: 0%;
 bottom: 79px;
 
 
}

html,
body {
  height: 100vh;
  
}

.planet-name{
position: relative;
padding-left: 46.5%;
    
}

.planet-images{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  padding-top: 10px;
  padding-left: 260px;
}

/* .font-color{
  color: white;
}

.detail-background{
 background-color: black;

} */


